*{
    padding: 0;
    margin: 0;
}

#navbar{
    background-color:#0f1111;
    height: 60px;
    font-weight: normal;
    color: white;
}
a{
    margin-right: 200px;
    text-decoration: none;
    color: white;
}
#logo{
    color: #ff9900;
    font-size: 25px; 
}
button{
    background-color: #f08804;
    color: white;
}